{{ ansible_managed | comment }}
# A single time source for all bench hosts: latency is computed as the
# difference between timestamps taken on different machines.

{% for server in common_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
